@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 


body{
    background-color: #F5FBFF ;
}
header {display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 8%;

}  
i, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #293241;
    text-decoration: none;
    background-color: #F5FBFF;

}

h2{
    height: 40px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: -5px;
    font-family: "Montserrat", sans-serif;
}
 
.logo{ cursor: pointer; }
