@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

 *  {   box-sizing: border-box;
        margin: 0;
        padding : 0;
        background-color:  #F5FBFF;
        font-family: "Montserrat", sans-serif;
    }
/*Start header*/

li, a  { 
                    font-weight: 500;
                    font-size: 16px;
                    color: #293241;
                    text-decoration: none;

                }



             header {display: flex;
                    justify-content: space-between;
                    text-align: center;
                    padding: 5px 8%;

             }   


             .logo{ cursor: pointer; }

             .nav_links { list-style: none;
                padding: 0;
                margin: 0;}

             .nav_links li { display: inline-block;
                margin: 40px 30px;
            }

            .nav_links li a { display: block;
                transition: all 0.3s ease 0s ;}


            .nav_links li a:hover {     color: #98C1D9; 
                                        font-size: 18px;
                                        background-color:#293241;
                                        border-radius: 30px;
                                        padding: 5px;
                                        transition: all 0.3s ease 0s;
                                     }

            .nav_links ul {
                display: none;
                background: rgba(152,193,217,0.8);}

            .nav_links ul  li {
             display: block;
             padding: 10px 30px;
             margin: 25px;
             float: none;
             background: rgba(152,193,217,0);
             }
             .nav_links ul li a{background: rgba(152,193,217,0);}

            .nav_links li:hover ul {
                display: block;
                position: absolute;
                border-radius: 30px;
                transition: all 0.3s ease 0s;}

                
            .out {
                position: relative;
                display:block;
                margin-top: 35px;
                margin-right: 200px;
                padding: 9px 25px; 
                background-color:#7290a2 ;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                }

                a.out:hover {  color: #98C1D9; 
                    font-size: 18px;
                    background-color:#293241;
                    border-radius: 30px;
                    padding: 9px 25px; 
                    transition: all 0.3s ease 0s; }

 /*end header*/


 /*start page bar*/
                    h2{    height: 40px; 
                        background-color:#98C1D9;
                        color: #293241;
                        text-align: center;
                        padding: 8px;
                        font-weight: bold;
                        font-size: 20px;
                        margin: -5px;
                        
                    
 }  /*end page bar*/ 


 /*start footer*/

 footer{
    display: inline-block;
    margin: 6px 38%;}

    .con{
    
        font-weight: 500;
        font-size: 16px; 
        padding: 11px 25px; 
        transition: all 0.3s ease 0s;
        text-decoration: none ;
        color: #293241;
    }
    
    .con:hover{
      

color: gray ;
text-decoration: underline;

    }
    .ionicons {

        color: #536584;
        text-decoration: none;
        transition: color 0.2s;
      }

      .ionicons:hover{
color: #000;

      }
 
      /*end footer*/

      .container {
        background-color:#98C1D9;
        width: 300px;
        height: 500px;
        border-radius: 30px;
        margin: 10% 40%;
        padding: 25px ;
        margin-top: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #98C1D9;
    
        }
        .detail{
    
            
            text-align: left;
            height:500px;
            width: 700px;
            padding: 10px;
            
        }
        .pic  {
       
    
            padding: 0px;
            border: solid #98C1D9;
            align-items: center;
        
            }
            .pic, .detail{
                border-radius: 20px;
                border: solid #98C1D9 5px;
                margin: 1% -3.5%;}
                .button1,.Submit,.changephoto{
                    font-size: 19px;
                    border-radius: 20px;
                    padding: 5px;
                    transition: all 0.3s ease 0s;
                    
                  }
                  .button1,.changephoto{
                    background-color:#7290a2 ;
                    cursor: pointer;
                    padding: 6px 25px;
                    margin-left:240px;
                    left:18%;
                    }
                    a.button1:hover,.changephoto:hover {  
                        color: #98C1D9; 
                        background-color:#293241;
                        padding: 9px 25px;
                        transition: all 0.3s ease 0s; }

                    input[type=submit] {
                    font-size: 19px;
                    border-radius: 20px;
                    border: hidden;
                    transition: all 0.3s ease 0s;
                    background-color:#7290a2 ;
                    cursor: pointer;
                    padding: 6px 20px;
                    left:18%;}
                            
                        input[type=submit]:hover {
                            color: #98C1D9; 
                            background-color:#293241;
                            padding: 9px 22px;
                            transition: all 0.3s ease 0s;}

                    .change{
                        font-size: 14px;
                    transition: all 0.3s ease 0s;}
                    .delet{
                        align-items: center;
                      margin: 45% 45%;
                    }
                    .holder{
            
                        padding: 25px ;
                        margin-top: 30px;
                        line-height: 30px;
                        text-align: center;
                        background-color:#98C1D9;
                        border-radius: 30px;
                       margin: 2% 25%;}

                       /*FAQs & SignUp*/
   .containers {
    width: 90%;
   margin: 30px auto;
   border-radius: 20px;
   background-color:#98C1D9;
   padding: 15px;}
   t{background-color:#98C1D9;}
   n{background-color:#98C1D9; font-size: 20px; }
 
   h3{    height: 40px; 
     background-color:#98C1D9;
     color: #293241;
     text-align:left;
     padding: 8px;
     font-weight: bold;
     font-size: 20px;
     margin: -5px;}