.detail{
    
    text-align: left;
    height: 500px;
    width: 700px;
    padding: 10px;
    
}
.pic  {
   

    padding: 0px;
    border: solid #98C1D9;
    align-items: center;

    }
    .pic, .detail{
        border-radius: 20px;
        border: solid #98C1D9 8px;
        margin: 1%;
                        }
                        .nameLabel, .e-mail, .citylabel,.locationlabel
                        {
                         color:#293241;
                         background-color: #98C1D9;
                          }
                          .back,.Submit{
                            font-size: 19px;
                            border-radius: 20px;
                            padding: 5px;
                            transition: all 0.3s ease 0s;
                            
                          }
                          .back{
                           
                            margin-left:240px;
                            left:18%;
                            }
                            
                            
                            .holder{
        
    padding: 25px ;
    margin-top: 30px;
    line-height: 30px;
    text-align: center;
    background-color:#98C1D9;
    width: 700px;
    height: 800px;
    border-radius: 30px;
    margin: 2% 25%;
 
    background-color: #98C1D9;
                            }
                            .change{
                                font-size: 14px;
                            transition: all 0.3s ease 0s;
                            
                        }