@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

header {display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 8%;

}  