@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
 body{ background-color:#F5FBFF;
/*خلاااص بحذفه ما أحتاجه*/
 }
a  {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #293241;
    text-decoration: none;
    background-color: #F5FBFF;
   

}
header{text-align: center;
    margin-bottom: 20%;}

    .icons{
        background-color:#7290a2;
        font-size: 19px;
        border-radius: 30px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        margin: 8%;
        
        }

        .icons:hover{color: #F5FBFF;
            font-size: 22px;}


    
        