/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

*{
    background-color: #F5FBFF ;

    font-family: "Montserrat", sans-serif;
  
}


.title{    height: 40px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: -5px;
}

.msg1, .msg2
            {
                color:#293241;
                text-align: center;
                margin: 3%;
            }