@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

Body{
    background-color: #F5FBFF ;
}
h4, div{
    font-family: "Montserrat", sans-serif;
  
}
h4{
    height: 25px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding-inline: 30px;
    font-weight: normal;
    font-size: 18px;
    

}


#content div   {

    background-color:#98C1D9;
    width: 200px;
    position: relative;
    height: 220px;
    border-radius: 30px;
    margin: 150px 0px 0px 600px ;
    padding: 1px ;

}

#content div .NameLabel, #content div .PriceLabel , #content div .StartDateLabel ,#content div .EndDateLabel ,#content div .timeslotslabel 
,#content div .timeslotslabel2, #content div .serviceLabel , #content div .dayLabel,#content div .timeLabel,
 #content div .req .nameLabel, #content div .req .ageLabel {
   
  
   color:#F5FBFF;
   background-color: #98C1D9;
  
}
a   {
    font-size: 16px;
    border-radius: 30px;
    padding: 6px;
    transition: all 0.3s ease 0s;

    }
a:hover {  
   
    color:#F5FBFF;    
    background-color:#293241; }

#content div p{
    line-height: 30px;
    text-align: center;
    background-color: #98C1D9;

}

#content div .req{

    margin-top: 30px;
}

