@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

Body{
    background-color: #F5FBFF ;
}
h4, div{
    font-family: "Montserrat", sans-serif;
  
}
h4{
    height: 25px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding-inline: 30px;
    font-weight: normal;
    font-size: 18px;
    

}


#content div   {

    background-color:#98C1D9;
    width: 230px;
    position: relative;
    height: 260px;
    border-radius: 30px;
  margin: 10% 42%  ;
    padding: 1px ;

}

     .nameLabel, .ageLabel,
     .classLabel, .durationLabel 
  {
   color:#293241;
   background-color: #98C1D9;
    }

    .Name, .Age, .Type, .duration 
{
    background-color:#98C1D9;
    color: #F5FBFF;
    font-size: 15px;
    
}
a.Offer  {
    font-size: 15px;
    border-radius: 30px;
    padding: 5px;
    transition: all 0.3s ease 0s;
  

    }
a.Offer:hover {  
    font-size: 18px;
    color:#F5FBFF;    
    background-color:#293241; }

#content div p{
    line-height: 30px;
    text-align: center;
    background-color: #98C1D9;

}

#content div .req{

    margin-top: 30px;
}

