@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

Body{
    background-color: #F5FBFF ;
}
h2, div{
    font-family: "Montserrat", sans-serif;
  
}
h2{    height: 40px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: -5px;
    

} /* such an amazing and perfect values!! (: */

.holder 
        {
             display:flex;
             margin: 4%;
margin-left: 22%;        }


.req1, .req2   {

 
    background-color:#98C1D9;
    width: 320px;
    position: relative;
    height: 430px;
    border-radius: 30px;
    padding: 50px ;
    line-height: 50px;
    text-align: center;
   margin: 45px;
}

.titleLabel {    background-color:#98C1D9;

                font-size: 30px;
                text-align: center;
                font-weight: bold;
                color: #293241;


            }           

          .titleLabell  {
            background-color:#98C1D9;
            text-align: center;
                font-weight: bold;
                color: #293241;
                font-size: 21px;
            }

     .nameLabel, .ageLabel,
     .classLabel, .durationLabel 
  {
   color:#293241;
   background-color: #98C1D9;
    }

    .Name, .Age, .Type, .duration 
{
    background-color:#98C1D9;
    color: #F5FBFF;
    font-size: 15px;
    
}
a.Offer1, a.Offer2  {
    font-size: 15px;
    border-radius: 30px;
    padding: 5px;
    transition: all 0.3s ease 0s;
  

    }
a.Offer1:hover, a.Offer2:hover {  
    font-size: 18px;
    color:#F5FBFF;    
    background-color:#293241; }



 /* useless.req{

    margin-top: 30px;
}
*/
