.offers{ /*div*/
    width:30%;
    height:250px;
    margin: 20px 30%;
    padding:20px;
    background-color:#98C1D9;
    border-radius: 10px;

}


lable {/*lable*/
  font-weight: bold;
	color:#f8f9f9;
	background-color: #98C1D9;
}

input[type=text]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: hidden;
    border-radius: 4px;
    background-color:#f8f9f9;}

textarea{
  width:100%;
  resize: none;
  border: hidden;
  border-radius: 4px;
  background-color:#f8f9f9;}