@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

Body{
    background-color: #F5FBFF ;
    font-family: "Montserrat", sans-serif;

}


h2{    height: 40px; 
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: -5px;
    

} /* such an amazing and perfect values!! (: */

.holder  {
    background-color:#F5FBFF;
    width: 900px;
    height: 290px;
    border-radius: 30px;
    position:relative;
    padding: 5px ;
    margin-top: 1%;
    line-height: 30px;
 display: flex;
border: solid 5px #98C1D9;
margin-left: 15%;

}
.detail{
    
    text-align: left;
    height: 250px;
    width: 700px;
    padding: 10px;
}

 .pic  {
   

    padding: 0px;
    border: solid #98C1D9;

    }

.holder2
{
     display:flex;
     margin: 2%;
margin-left: 15%;        }


.rev   {


background-color:#98C1D9;
width: 280px;
position: relative;
height: 200px;
border-radius: 30px;
padding: 10px ;
line-height: 50px;
text-align: center;
margin: 2%;
}

.holder3
{
background-color: #F5FBFF;
             display:flex;
            padding: 2px;
            margin-left:  34%;
        

           

}

    .call, .msg{
        font-size: 19px;
    border-radius: 20px;
    padding: 10px;
    margin: 45px;
    background-color: #98C1D9;
    
    transition: all 0.3s ease 0s;
  
    }
    .call:hover, .msg:hover
    {

        font-size: 22px;
        border-width: 2px;
        color: #F5FBFF;
        background-color:#293241;
    }
    .pic, .detail{
border-radius: 20px;
border: solid #98C1D9 8px;
margin: 1%;
                }
        .nameLabel, .ratingLabel, .priceLabel, .yearLabel, .bioLabel, .titleLabel
  {
   color:#293241;
   background-color: #98C1D9;
    }

    .Name, .Rate, .Price , .year, .bio
{
    background-color:#98C1D9;
    color: #F5FBFF;
    font-size: 16px;
    
}


.accept, .reject {
  
    transition: all 0.3s ease 0s;
    font-size: 22px;
    border-radius: 20px;
    padding: 5px;
    margin: 46px;
}
.accept
    {   
        color: rgb(29, 159, 29);    
        border:solid 2px rgb(29, 159, 29);    
      
    }
 .accept:hover
        {
            color: #F5FBFF;
            background-color: rgb(29, 159, 29);
            font-size: 27px;
            
        }  
        
 .reject    {
                color:red;
                border: solid red

            }

   .reject:hover{ color: #F5FBFF;
                background-color: red;
                font-size: 27px;

                }  
                
                .bar
                {
                    background-color: #F5FBFF;
             display:flex;
            padding: 2px;
            margin-left:  34%;
        
                     margin-top: 200px;
    position: absolute;
    background-color:white;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom:0;
    border-top: 2px solid black;
}
