@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {   height: 40px;
    
    background-color:#98C1D9;
    color: #293241;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: -5px;
    

} 

.detail{
    
    text-align: left;
    height: 500px;
    width: 700px;
    padding: 10px;
    
}




 .pic  {
   

    padding: 0px;
    border: solid #98C1D9;
    align-items: center;

    }






    .pic, .detail{
border-radius: 20px;
border: solid #98C1D9 8px;
margin: 1%;
                }
        .nameLabel, .e-mail, .citylabel,.locationlabel
  {
   color:#293241;
   background-color: #98C1D9;
    }
    .back{
        margin: 50%;
    }




 
        
 
         
