
.detail{
    
    height: 495px;
    width: 690px;
   
}

    .pic, .detail{

border: solid #98C1D9 5px;
margin: 1% -3.5%;
                }
                
        .nameLabel, .e-mail, .citylabel,.locationlabel
  {
   color:#293241;
   background-color: #98C1D9;
    }
    
    .holder{
        width: 700px;
        height: 800px;
                                }




 
        
 
         
