
.detail{
    height: 620px;
    width: 700px;
    
}

    .pic, .detail{

border: solid #98C1D9 8px;
margin: 1%;
                }
        .nameLabel, .e-mail, .citylabel,.locationlabel,.id,.phone,.AGE,.gender,.bio
  {
   color:#293241;
   background-color: #98C1D9;
    }
    
    .holder{
        
        width: 750px;
        height: 930px;
        
                                }